/*----------------------------------------------------------------------------*\
    Headhesive Specific Styles
/*----------------------------------------------------------------------------*/

/**
 * Headhesive element clone
 * > `clone` class for the cloned element:
 *
 |  var options = {
 |      classes {
 |          clone: 'banner--clone';
 |      }
 |  }
 *
 */
 
.scroll-to-fixed-fixed {
	z-index:1;
}
 
 
.header_scroll {
	display:none; 

	
}

.scroll-to-fixed-fixed .header_scroll {
    background-color: #fff;
	display:none;


}

.scroll-to-fixed-fixed  #navigation{

}


.scroll-to-fixed-fixed  #navigation #menu_principal{
	width:100%;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;	
}
