/* ======================================================================================================================== */
/* MENU PRINCIPAL */
/* ======================================================================================================================== */

#navigation{
	position:relative;

}
	
/* MENU HAMBURGER */
#menuHam { 
	display:none;
	padding: 0;
	
	height:40px;
	line-height:35px;
    padding-left:10px;
    border-left: 1px solid rgba(206,220,235,1.00);
}


input#dropdownHam { 
	display:none;
	opacity:0; 
}

#btnHam{
    margin:0px;
	padding:0px;
    width:25px;
    color:rgba(19,78,163,1);
    overflow:hidden;
}


#btnHam:hover{
	cursor:pointer;
	color:rgba(227,6,19,1);
}

#imgHam {
	height:0px;
}


/* MENU DESKTOP */

#menuP{
	position:relative;
	padding: 0;
	margin:0;
    height:60px;
    width:100%;
    float:none;
    clear:both;
    overflow:visible;
    
    display: table;
    table-layout: fixed;
}
#menuP > * {
  display: table-cell;
  vertical-align: top;
}

#menuP ul, #menuP li {
	list-style: none;
	text-indent: 0;
	text-transform: none;
	text-decoration: none;
	padding: 0;
	margin:0;
	position:relative;
}


#menuP li.rub,
#menuP li.rubA {
	height: 60px;
    background-color: rgba(0,79,159,1);
}

#menuP li.rub a,
#menuP li.rubA a {
    display: block;
    font-size: 14px;
    padding: 0 5px;
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
    text-align: center;
    line-height: 14px;
    font-weight: bold;
}


#menuP li a .tit{
    height: 30px;
	text-transform: uppercase;
    vertical-align:middle;
}

#menuP li a .exp{
    padding: 0 5px;
    height: 30px;
    color: rgba(255,255,255,0.7);
    font-size: 0.8em;
	line-height: 10px;
    font-style: italic;
}


#menuP li.rub a:hover {
	background-color: rgba(227,6,19,1);
}

#menuP li.rubA a,
#menuP li.active a {
  background-color: rgba(227,6,19,1);
}



/* SOUS MENU */
#menuP .sRubs {
    position: absolute;
    visibility: hidden;
    top: 60px;
    right:0px;       
	padding:0px;
    margin-top:10px;
    
    float: none;
    background-color: rgba(227,29,115,1);
    min-width: 100px;
    vertical-align: top;
    opacity: 0; 
    	
    display:block;
	color:#fff;
	text-decoration: none;
	font-weight: normal;
    -webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;

}


#menuP li:hover > .sRubs {
	visibility:visible;
	opacity:1;
	margin-top:0;
    
}

#menuP .sRubs li{
	display:block;
	float:none;
}

#menuP .sRubs li a{
	display:block;
	float:none;
    padding:10px 20px;
    line-height:1.2em;
    text-align:left;
	border-top: 1px solid rgba(249,224,169,1);
}

#menuP .sRubs li a:hover {

	color:rgba(255,255,255,1);
	background-color:rgba(227,6,19,1);
}


 #menuP .ssRubs li a {
	padding-left:15px;
	background-color: rgba(255,255,255,0.2);
	margin:0 0px;
}

#menuP .ssRubs li a:hover {
	color:rgba(150,191,15,1);
	padding-left:20px;
}
    
/* EFFETS SPECIFIQUE */
#a_rub1 i {
	font-family: FontAwesome;
	margin-top: 3px;
}


#navigation.scroll-to-fixed-fixed #menuP,
#menuP li.rub,
#menuP li.rubA {
   height:30px;
}

/*#navigation.scroll-to-fixed-fixed #navigation .exp {
   display:none;
}
*/
/* ======================================================================================================================== */
/* MENU DU BAS */
/* ======================================================================================================================== */

#menuB{
	display:block;
	position:relative;
	padding: 0;
	margin:0;
}

#menuB ul, #menuB li {
	list-style: none;
	text-indent: 0;
	text-transform: none;
	text-decoration: none;
	padding: 0;
	margin:0;
}

#menuB li {
    margin: 0 15px;
    float: left;
    font-size: 0.9em;
    line-height:40px
    text-decoration: none;
    font-weight: normal;
    line-height:40px;
}


#menuB li a {
	text-decoration: none;
    font-weight: normal;
    color: rgba(19,78,163,1);
}

#menuB li a:hover {
    color: rgba(227,6,19,1);
    text-decoration: none;
}


/* ======================================================================================================================== */
/* MENU LANGUE */
/* ======================================================================================================================== */

#langues{
	overflow:hidden;
	position:relative;
	margin:0;
	padding:0;
	float:right;
    margin-left:20px;
 
}

#langues li{
	margin: 0;
	padding: 0 0px;
	text-indent: 0px;
	list-style-type: none;
     line-height:25px;
     font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#langues a{

	text-decoration: none;
	border:none;
	overflow: hidden;
	color: rgba(0,0,0,0.50);
	
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}


#langues a:hover {
	text-decoration: none;
	color: rgba(0,0,0,1);
	border:none;
}


/* ======================================================================================================================== */
/* RESPONSIVE */
/* ======================================================================================================================== */


/* ============ style adjustments for high density devices */
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {

} /* ============ End adjustments for high density devices */


/* ============ layouts for large screens */
@media only screen and (min-width: 1024px) {




} /* ============ End for large screens */


/* ============ layouts for portrait tablet  et modern smartphones */
@media only screen and (max-width: 768px) {

    #navigation.scroll-to-fixed-fixed {
        margin-top:0px;
        height:1px;
    }



	#menuP {
        margin:0;
		padding:0;
		width:100%;	
		float:none;
		clear:both;
		display:none;
        overflow-y: scroll;
        min-height:200px;
        min-height:80vh;
	}


    #navigation {
    width: 100%;
    padding-left: 0px;
    height: 0px;
    position: fixed;
    top: 40px;
	}

    
	#menuHam{
		display:block;
	}

	#menuP li.rub,
	#menuP li.rubA {
		display:block;
		float:none;
		clear:both;
		height:auto;
	}


	#menuP .sRubs{
 		display:none;
		position:relative;
		overflow:hidden;
		visibility:visible;
        opacity:1;
        margin-top:0;
		top:0;
		z-index:100;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}

	#menuP li:hover > .sRubs {
		display:block;
	}
    
    #menuP li a .tit{
        padding-top:10px;
        font-size: 1.2em;
    }
    
    #menuP li a .exp{
        padding-top:5px;
        font-size: 1.0em;
    }

} /* ============ End for portrait tablet  et modern smartphones */

@media only screen and (max-width: 480px) {
	
}

/* ============ layouts for very small screens */
@media only screen and (max-width: 320px) {
	#langues a {
		font-size: 0.8em;
	}

} /* ============ End for very small screens */
