.boutons_partage {
	margin-top:3px;
}

.partagersur {
	font-size: 0.9em;
}


.jssocials-shares {
  margin: 0;
  font-family: sans-serif;
   }

.jssocials-shares * {
  box-sizing: border-box; }

.jssocials-share {
  display: inline-block;
  vertical-align: top;
 }

.jssocials-share:first-child {
  margin-left: 0; }

.jssocials-share:last-child {
  margin-right: 0; }

.jssocials-share-logo {
  width: 1em;
  vertical-align: middle;
  font-size: 1.2em;line-height: 20px; margin-top:-10px;
 }

img.jssocials-share-logo {
  width: auto;
  height: 1em; 
 }

.jssocials-share-link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border:none;
  line-height: 40px; 
  background-color:#000;
  color: #000;
  border-radius: 50%;
  width:30px;
  height:30px;
  margin-top:-5px;
  margin-left:5px;
 }
.jssocials-share-link:hover {
  text-decoration: none;
  border:none;
}
 
  .jssocials-share-link.jssocials-share-link-count {
    padding-top: .2em; }
    .jssocials-share-link.jssocials-share-link-count .jssocials-share-count {
      display: block;
      font-size: .6em;
      margin: 0 -.5em -.8em -.5em; }
  .jssocials-share-link.jssocials-share-no-count {
    padding-top: .5em; }
    .jssocials-share-link.jssocials-share-no-count .jssocials-share-count {
      height: 1em;
        }

.jssocials-share-label {
  padding-left: 0.3em;
  vertical-align: middle; }

.jssocials-share-count-box {
  display: inline-block;
  height: 1.5em;
  padding: 0 0.3em;
  vertical-align: middle;
  cursor: default; }
  .jssocials-share-count-box.jssocials-share-no-count {
    display: none; }

.jssocials-share-count {
  line-height: 1.5em;
  vertical-align: middle; }


/*FLAT THEME */
.jssocials-share-twitter .jssocials-share-link {
  background-color: #00aced;
  color: #fff;  } /*00aced*/
  .jssocials-share-twitter .jssocials-share-link:hover {
    opacity:0.5; }

.jssocials-share-facebook .jssocials-share-link {
   background-color: #3b5998;
  color: #fff;  } /*3b5998*/
  .jssocials-share-facebook .jssocials-share-link:hover {
     opacity:0.5; }

.jssocials-share-googleplus .jssocials-share-link {
   background-color: #dd4b39;
  color: #fff;  } /*dd4b39*/
  .jssocials-share-googleplus .jssocials-share-link:hover {
     opacity:0.5; }

.jssocials-share-linkedin .jssocials-share-link {
   background-color: #007bb6;
  color: #fff;  } /*007bb6*/
  .jssocials-share-linkedin .jssocials-share-link:hover {
    opacity:0.5; }

.jssocials-share-pinterest .jssocials-share-link {
  background-color: #cb2027;
  color: #fff;  } /*cb2027*/
  .jssocials-share-pinterest .jssocials-share-link:hover {
     opacity:0.5; }

.jssocials-share-email .jssocials-share-link {
   background-color: #3490F3;
  color: #fff;  } /*3490F3*/
  .jssocials-share-email .jssocials-share-link:hover {
    opacity:0.5; }

.jssocials-share-link {
  padding: 0 .2em;
  color: #000;
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
          transition: background 200ms ease-in-out, border-color 200ms ease-in-out; }
  .jssocials-share-link:hover, .jssocials-share-link:focus, .jssocials-share-link:active {
    color: #fff; }

.jssocials-share-count-box {
  position: relative;
  height: 2.5em;
  padding: 0 .3em;
  margin-left: 0.3em;
  background: #f5f5f5;
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
          transition: background 200ms ease-in-out, border-color 200ms ease-in-out; }
  .jssocials-share-count-box:hover {
    background: gainsboro; }
    .jssocials-share-count-box:hover:after {
      border-color: transparent gainsboro transparent transparent; }
  .jssocials-share-count-box:after {
    content: "";
    display: block;
    position: absolute;
    top: 0.85em;
    left: -0.3em;
    width: 0;
    height: 0;
    border-width: 0.4em 0.4em 0.4em 0;
    border-style: solid;
    border-color: transparent #f5f5f5 transparent transparent;
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
            transition: background 200ms ease-in-out, border-color 200ms ease-in-out; }
  .jssocials-share-count-box .jssocials-share-count {
    line-height: 2.5em;
    color: #444;}

