.alt {
  color: #b9b9b9;
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 22px;
}

img.thumbnail {padding:5px; border:1px solid #e3e3e3;}
img.thumbnail:hover {padding:5px; border:1px solid #b0afaf;}

#topMenu{display:block;}
#topMenu ul{overflow:hidden;background:#f7f6f6; padding:0px; margin:0px; margin-bottom:10px;}
#topMenu ul li{float:left; list-style:none}
#topMenu ul li a{display:block;padding:11px 10px;text-decoration:none;color:#000;font-size:1.0em;font-weight:bold;line-height:1}
#topMenu ul li a:hover{background:#e3e2e2; color:#9e1b34;}
#topMenu ul a.current{background:#e3e2e2; color:#9e1b34;}

.imgGrid {
	float: left;
}

/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav li.current {
	/*background: red;*/
}
/*
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}

.grey_row {
	background: #f7f7f7;
}

a.y_pagination {
	border: #e1ebfb 1px solid;
	padding-left: 2px;
	padding-right: 2px;
	font-weight: normal;
	background: #f5f9ff;
	margin-bottom: 3px;
	color: #666;
	text-decoration: none;
	font-size: 18px;
}

a:hover.y_pagination {
	background: none transparent scroll repeat 0% 0%;
	color: #ac0018;
	text-decoration: none;
}

.yellowBox {border-collapse:collapse; background: #fffde8; border: #d7d7d7 1px solid; padding:10px; margin-bottom:20px;}

.loading {padding-left: 18px;background: transparent url(../graph/icons/ajax-loader.gif) no-repeat center left;}
.fb-like {padding-left: 18px;background: transparent url(../graph/icons/like.png) no-repeat center left;}
.comment {padding-left: 18px;background: transparent url(../graph/icons/comment.png) no-repeat center left;}
.comments {padding-left: 18px;background: transparent url(../graph/icons/comments.png) no-repeat center left;}